<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gladiatus_NEW.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Gladiatus_NEW.User>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="heal_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="heal_backpack" serializeAs="String">
                <value />
            </setting>
            <setting name="expedition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="expedition_option" serializeAs="String">
                <value />
            </setting>
            <setting name="dungeon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dungeon_advenced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pack_level" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="free_backpack" serializeAs="String">
                <value>0</value>
            </setting>
        </Gladiatus_NEW.User>
    </userSettings>
</configuration>